body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./image/brasilia_amarela.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: cover;
}
